In [231]:
import pandas as pd

In [232]:
df_goodreads = pd.read_csv('../data/raw/goodreads_best_books_ever.csv')
df_openlibrary = pd.read_csv('../data/raw/openlibrary_fiction_10k.csv')
df_openlibrary_ratings = pd.read_csv('../data/raw/ol_dump_ratings_2025-03-02.tsv', sep='\t', names=['key', 'lending_edition?', 'rating', 'date'])
df_nytimes = pd.read_csv('../data/raw/nytimes_fiction_2015_2025.csv')

In [233]:
# print(df_nytimes.shape)
# df_nytimes.head(10)

In [234]:
print(df_goodreads.shape)
df_goodreads.head(10)

(1000, 6)

,title,url,author,rating,rating_count,id
0,The Hunger Games (The Hunger Games #1),https://www.goodreads.com/book/show/2767052-th...,Suzanne Collins,4.34,9316464,2767052
1,Harry Potter and the Order of the Phoenix (Har...,https://www.goodreads.com/book/show/2.Harry_Po...,J.K. Rowling,4.50,3616115,2
2,Pride and Prejudice,https://www.goodreads.com/book/show/1885.Pride...,Jane Austen,4.29,4516959,1885
3,To Kill a Mockingbird,https://www.goodreads.com/book/show/2657.To_Ki...,Harper Lee,4.26,6562994,2657
4,The Book Thief,https://www.goodreads.com/book/show/19063.The_...,Markus Zusak,4.39,2745773,19063
5,"Twilight (The Twilight Saga, #1)",https://www.goodreads.com/book/show/41865.Twil...,Stephenie Meyer,3.66,7000366,41865
6,Animal Farm,https://www.goodreads.com/book/show/170448.Ani...,George Orwell,4.00,4226678,170448
7,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,https://www.goodreads.com/book/show/30.J_R_R_T...,J.R.R. Tolkien,4.61,139657,30
8,The Chronicles of Narnia (The Chronicles of Na...,https://www.goodreads.com/book/show/11127.The_...,C.S. Lewis,4.28,685578,11127
9,The Fault in Our Stars,https://www.goodreads.com/book/show/11870085-t...,John Green,4.13,5479804,11870085

In [235]:
df_goodreads["author"].value_counts()

author
Sarah J. Maas           15
Stephen        King     15
William Shakespeare     12
Rick Riordan            11
Cassandra Clare         10
                        ..
Helen Fielding           1
John Grisham             1
Chinua Achebe            1
Benjamin Alire Sáenz     1
Yevgeny Zamyatin         1
Name: count, Length: 610, dtype: int64

In [236]:
display(df_openlibrary.head(10))
display(df_openlibrary.shape)
print()
display(df_openlibrary_ratings.head(10))
display(df_openlibrary_ratings.shape)

,key,title,edition_count,cover_id,cover_edition_key,subject,ia_collection,printdisabled,lending_edition,lending_identifier,authors,first_publish_year,ia,public_scan,has_fulltext,availability
0,/works/OL66554W,Pride and Prejudice,4035,14348537.0,OL47044678M,"['Fiction, Romance, Historical, Regency', 'Bri...","['365-Books-by-Women-Authors', 'additional_col...",True,OL50444320M,bwb_KS-179-237,"[{'key': '/authors/OL21594A', 'name': 'Jane Au...",1813,bwb_KS-179-237,True,True,"{'status': 'open', 'available_to_browse': Fals..."
1,/works/OL138052W,Alice's Adventures in Wonderland,3546,10527843.0,OL31754751M,"['Alice (fictitious character : carroll), fict...","['Boston_College_Library', 'additional_collect...",True,OL45637056M,alicesadventures0000unse_v7d2,"[{'key': '/authors/OL22098A', 'name': 'Lewis C...",1865,alicesadventures0000unse_v7d2,True,True,"{'status': 'open', 'available_to_browse': Fals..."
2,/works/OL21177W,Wuthering Heights,2850,12818862.0,OL38586477M,['British and irish fiction (fictional works b...,"['365-Books-by-Women-Authors', 'JaiGyan', 'Ser...",True,OL57648863M,wutheringheights0000kesh,"[{'key': '/authors/OL24529A', 'name': 'Emily B...",1846,wutheringheights0000kesh,True,True,"{'status': 'open', 'available_to_browse': Fals..."
3,/works/OL8193497W,A Christmas Carol,2727,13299222.0,NaN,"['Ghost stories', 'Readers', 'Ebenzer Scrooge ...","['additional_collections', 'americana', 'aozor...",True,OL50494370M,christmascarol00dick_7,"[{'key': '/authors/OL24638A', 'name': 'Charles...",1843,christmascarol00dick_7,True,True,"{'status': 'open', 'available_to_browse': Fals..."
4,/works/OL53908W,Adventures of Huckleberry Finn,2552,8157718.0,OL7062714M,"['adventure and adventurers', 'Adventure stori...","['additional_collections', 'album_recordings',...",True,OL48061167M,adventuresofhuck0000mark_f4w4,"[{'key': '/authors/OL18319A', 'name': 'Mark Tw...",1876,adventuresofhuck0000mark_f4w4,True,True,"{'status': 'open', 'available_to_browse': Fals..."
5,/works/OL8193416W,The Picture of Dorian Gray,2297,14314858.0,NaN,['British and irish fiction (fictional works b...,"['additional_collections', 'americana', 'ameri...",True,OL25669538M,temunatdoryangri008800,"[{'key': '/authors/OL20646A', 'name': 'Oscar W...",1890,temunatdoryangri008800,True,True,"{'status': 'open', 'available_to_browse': Fals..."
6,/works/OL66513W,Emma,2260,9278312.0,OL13573615M,"['Social life and customs', 'Mate selection', ...","['California-State-Suggested-Reading', 'additi...",True,OL50293425M,isbn_9781905716890,"[{'key': '/authors/OL21594A', 'name': 'Jane Au...",1815,isbn_9781905716890,True,True,"{'status': 'open', 'available_to_browse': Fals..."
7,/works/OL8193478W,Oliver Twist,2210,13300802.0,NaN,"['Bildungsromans', 'Boys', 'Brigands and robbe...","['Princeton', 'americana', 'audio_bookspoetry'...",True,OL46835116M,olivertwist0000char_v6j2,"[{'key': '/authors/OL24638A', 'name': 'Charles...",1822,olivertwist0000char_v6j2,True,True,"{'status': 'open', 'available_to_browse': Fals..."
8,/works/OL450063W,Frankenstein or The Modern Prometheus,2183,12356249.0,OL35649409M,"['Frankenstein (Fictitious character)', ""Frank...","['additional_collections', 'americana', 'ameri...",True,OL26683337M,frankensteinormo00shel_8,"[{'key': '/authors/OL25342A', 'name': 'Mary Sh...",1818,frankensteinormo00shel_8,True,True,"{'status': 'open', 'available_to_browse': Fals..."
9,/works/OL8193465W,A Tale of Two Cities,2059,13301713.0,NaN,"['British', 'British and irish fiction (fictio...","['ColumbiaUniversityLibraries', 'JaiGyan', 'am...",True,OL25709295M,a-tale-of-two-cities,"[{'key': '/authors/OL24638A', 'name': 'Charles...",1800,a-tale-of-two-cities,True,True,"{'status': 'open', 'available_to_browse': Fals..."

(10000, 16)

                  key    lending_edition?  rating        date
0  /works/OL17882343W                 NaN       3  2018-06-20
1   /works/OL1629179W  /books/OL22981670M       5  2018-06-20
2   /works/OL4226036W  /books/OL10690412M       5  2018-06-20
3   /works/OL5264255W   /books/OL2719185M       5  2018-06-20
4   /works/OL1681415W   /books/OL2582724M       5  2018-06-20
5   /works/OL1837390W                 NaN       5  2018-06-20
6   /works/OL1853596W   /books/OL2331075M       2  2018-06-20
7   /works/OL9468629W  /books/OL10694710M       5  2022-09-27
8   /works/OL3270902W                 NaN       4  2018-06-20
9    /works/OL465360W  /books/OL26427670M       5  2018-06-20

(523506, 4)

In [237]:
df_goodreads.shape

(1000, 6)

In [238]:
df_goodreads.drop(columns=["id", "url"], inplace=True)

In [239]:
df_goodreads.head(10)

,title,author,rating,rating_count
0,The Hunger Games (The Hunger Games #1),Suzanne Collins,4.34,9316464
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.50,3616115
2,Pride and Prejudice,Jane Austen,4.29,4516959
3,To Kill a Mockingbird,Harper Lee,4.26,6562994
4,The Book Thief,Markus Zusak,4.39,2745773
5,"Twilight (The Twilight Saga, #1)",Stephenie Meyer,3.66,7000366
6,Animal Farm,George Orwell,4.00,4226678
7,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,4.61,139657
8,The Chronicles of Narnia (The Chronicles of Na...,C.S. Lewis,4.28,685578
9,The Fault in Our Stars,John Green,4.13,5479804

In [240]:
df_openlibrary_merge = df_openlibrary.merge(df_openlibrary_ratings, how='left', on="key")

In [241]:
display(df_openlibrary_merge.head(5))
display(df_openlibrary_merge.shape)

,key,title,edition_count,cover_id,cover_edition_key,subject,ia_collection,printdisabled,lending_edition,lending_identifier,authors,first_publish_year,ia,public_scan,has_fulltext,availability,lending_edition?,rating,date
0,/works/OL66554W,Pride and Prejudice,4035,14348537.0,OL47044678M,"['Fiction, Romance, Historical, Regency', 'Bri...","['365-Books-by-Women-Authors', 'additional_col...",True,OL50444320M,bwb_KS-179-237,"[{'key': '/authors/OL21594A', 'name': 'Jane Au...",1813,bwb_KS-179-237,True,True,"{'status': 'open', 'available_to_browse': Fals...",NaN,5.0,2024-06-30
1,/works/OL66554W,Pride and Prejudice,4035,14348537.0,OL47044678M,"['Fiction, Romance, Historical, Regency', 'Bri...","['365-Books-by-Women-Authors', 'additional_col...",True,OL50444320M,bwb_KS-179-237,"[{'key': '/authors/OL21594A', 'name': 'Jane Au...",1813,bwb_KS-179-237,True,True,"{'status': 'open', 'available_to_browse': Fals...",/books/OL37876800M,5.0,2022-10-06
2,/works/OL66554W,Pride and Prejudice,4035,14348537.0,OL47044678M,"['Fiction, Romance, Historical, Regency', 'Bri...","['365-Books-by-Women-Authors', 'additional_col...",True,OL50444320M,bwb_KS-179-237,"[{'key': '/authors/OL21594A', 'name': 'Jane Au...",1813,bwb_KS-179-237,True,True,"{'status': 'open', 'available_to_browse': Fals...",NaN,5.0,2023-10-01
3,/works/OL66554W,Pride and Prejudice,4035,14348537.0,OL47044678M,"['Fiction, Romance, Historical, Regency', 'Bri...","['365-Books-by-Women-Authors', 'additional_col...",True,OL50444320M,bwb_KS-179-237,"[{'key': '/authors/OL21594A', 'name': 'Jane Au...",1813,bwb_KS-179-237,True,True,"{'status': 'open', 'available_to_browse': Fals...",/books/OL26493146M,5.0,2024-07-25
4,/works/OL66554W,Pride and Prejudice,4035,14348537.0,OL47044678M,"['Fiction, Romance, Historical, Regency', 'Bri...","['365-Books-by-Women-Authors', 'additional_col...",True,OL50444320M,bwb_KS-179-237,"[{'key': '/authors/OL21594A', 'name': 'Jane Au...",1813,bwb_KS-179-237,True,True,"{'status': 'open', 'available_to_browse': Fals...",/books/OL7245993M,2.0,2022-10-05

(96845, 19)

In [242]:
df_openlibrary_merge.dtypes

key                    object
title                  object
edition_count           int64
cover_id              float64
cover_edition_key      object
subject                object
ia_collection          object
printdisabled            bool
lending_edition        object
lending_identifier     object
authors                object
first_publish_year      int64
ia                     object
public_scan              bool
has_fulltext             bool
availability           object
lending_edition?       object
rating                float64
date                   object
dtype: object

In [243]:
import ast

df_openlibrary_merge["author"] = df_openlibrary_merge["authors"].apply(lambda x: ast.literal_eval(x)[0]['name'] if len(ast.literal_eval(x)) > 0 else None)

df_openlibrary_filter = df_openlibrary_merge[["title", "author", "first_publish_year", "rating"]]
df_openlibrary_filter.drop_duplicates(subset="title", inplace=True)

/var/folders/x5/xrbwdz1510vcx8w5dcdp2s7m0000gn/T/ipykernel_24740/210766534.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_openlibrary_filter.drop_duplicates(subset="title", inplace=True)

In [244]:
df_merge = df_openlibrary_filter.merge(df_goodreads, how='left', on='title')
df_merge

,title,author_x,first_publish_year,rating_x,author_y,rating_y,rating_count
0,Pride and Prejudice,Jane Austen,1813,5.0,Jane Austen,4.29,4516959.0
1,Alice's Adventures in Wonderland,Lewis Carroll,1865,5.0,NaN,NaN,NaN
2,Wuthering Heights,Emily Brontë,1846,5.0,Emily Brontë,3.90,1921537.0
3,A Christmas Carol,Charles Dickens,1843,4.0,Charles Dickens,4.09,886069.0
4,Adventures of Huckleberry Finn,Mark Twain,1876,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
9868,Valentine Pontifice,Robert Silverberg,1983,3.0,NaN,NaN,NaN
9869,A fine of two hundred francs,Elsa Triolet,1945,NaN,NaN,NaN,NaN
9870,A private view,Michael Innes,1952,3.0,NaN,NaN,NaN
9871,Strangers at Lisconnel,Jane Barlow,1895,NaN,NaN,NaN,NaN
9872,The marrow of tradition,Charles Waddell Chesnutt,1901,3.0,NaN,NaN,NaN

In [245]:
df_merge['rating_y'].isna().value_counts()

rating_y
True     9587
False     286
Name: count, dtype: int64

In [246]:
df_merge.dropna(subset=['rating_x', 'rating_y'], how='all', inplace=True)
df_merge

,title,author_x,first_publish_year,rating_x,author_y,rating_y,rating_count
0,Pride and Prejudice,Jane Austen,1813,5.0,Jane Austen,4.29,4516959.0
1,Alice's Adventures in Wonderland,Lewis Carroll,1865,5.0,NaN,NaN,NaN
2,Wuthering Heights,Emily Brontë,1846,5.0,Emily Brontë,3.90,1921537.0
3,A Christmas Carol,Charles Dickens,1843,4.0,Charles Dickens,4.09,886069.0
4,Adventures of Huckleberry Finn,Mark Twain,1876,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
9862,Eye of the Storm,V. C. Andrews,2000,3.0,NaN,NaN,NaN
9866,The Complete Adventures of Peter Rabbit,Beatrix Potter,1982,4.0,NaN,NaN,NaN
9868,Valentine Pontifice,Robert Silverberg,1983,3.0,NaN,NaN,NaN
9870,A private view,Michael Innes,1952,3.0,NaN,NaN,NaN
9872,The marrow of tradition,Charles Waddell Chesnutt,1901,3.0,NaN,NaN,NaN

In [247]:
df_merge['rating_y'] = df_merge['rating_y'].fillna(df_merge['rating_x'])
df_merge.rename(columns={"rating_y": "rating", "author_x": "author"}, inplace=True)
df_merge

,title,author,first_publish_year,rating_x,author_y,rating,rating_count
0,Pride and Prejudice,Jane Austen,1813,5.0,Jane Austen,4.29,4516959.0
1,Alice's Adventures in Wonderland,Lewis Carroll,1865,5.0,NaN,5.00,NaN
2,Wuthering Heights,Emily Brontë,1846,5.0,Emily Brontë,3.90,1921537.0
3,A Christmas Carol,Charles Dickens,1843,4.0,Charles Dickens,4.09,886069.0
4,Adventures of Huckleberry Finn,Mark Twain,1876,3.0,NaN,3.00,NaN
...,...,...,...,...,...,...,...
9862,Eye of the Storm,V. C. Andrews,2000,3.0,NaN,3.00,NaN
9866,The Complete Adventures of Peter Rabbit,Beatrix Potter,1982,4.0,NaN,4.00,NaN
9868,Valentine Pontifice,Robert Silverberg,1983,3.0,NaN,3.00,NaN
9870,A private view,Michael Innes,1952,3.0,NaN,3.00,NaN
9872,The marrow of tradition,Charles Waddell Chesnutt,1901,3.0,NaN,3.00,NaN

In [248]:
author_counts = df_merge["author"].value_counts()
df_merge["author_encoded"] = df_merge["author"].map(author_counts)

In [249]:
df_merge.columns

Index(['title', 'author', 'first_publish_year', 'rating_x', 'author_y',
       'rating', 'rating_count', 'author_encoded'],
      dtype='object')

In [250]:
df_merge = df_merge[['title', 'author', 'first_publish_year',
       'rating', 'author_encoded']]

In [251]:
df_merge.reset_index(drop=True, inplace=True)
df_merge.dropna(how='any', inplace=True)
df_merge

/var/folders/x5/xrbwdz1510vcx8w5dcdp2s7m0000gn/T/ipykernel_24740/2899363284.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge.dropna(how='any', inplace=True)

,title,author,first_publish_year,rating,author_encoded
0,Pride and Prejudice,Jane Austen,1813,4.29,14
1,Alice's Adventures in Wonderland,Lewis Carroll,1865,5.00,7
2,Wuthering Heights,Emily Brontë,1846,3.90,2
3,A Christmas Carol,Charles Dickens,1843,4.09,26
4,Adventures of Huckleberry Finn,Mark Twain,1876,3.00,25
...,...,...,...,...,...
6809,Eye of the Storm,V. C. Andrews,2000,3.00,25
6810,The Complete Adventures of Peter Rabbit,Beatrix Potter,1982,4.00,21
6811,Valentine Pontifice,Robert Silverberg,1983,3.00,8
6812,A private view,Michael Innes,1952,3.00,7
6813,The marrow of tradition,Charles Waddell Chesnutt,1901,3.00,1

In [252]:
df_merge = df_merge[(df_merge["rating"] >= 3.5) & (df_merge["first_publish_year"] >= 1900)]
df_merge

,title,author,first_publish_year,rating,author_encoded
18,The Art of War,孙武,1900,3.95,1
20,The Call of the Wild,Jack London,1903,3.91,22
24,The Hound of the Baskervilles,Arthur Conan Doyle,1900,4.00,24
27,The Great Gatsby,F. Scott Fitzgerald,1920,3.93,9
37,The Mysterious Affair at Styles,Agatha Christie,1920,4.00,85
...,...,...,...,...,...
6802,The Mark,Jerry B. Jenkins,2000,5.00,1
6803,Less than angels,Barbara Pym,1955,4.00,4
6804,The River,Gary Paulsen,1991,5.00,4
6807,"The Letter, the Witch, and the Ring",John Bellairs,1976,5.00,4
6810,The Complete Adventures of Peter Rabbit,Beatrix Potter,1982,4.00,21

In [257]:
list(df_merge['title'].values)

['The Art of War',
 'The Call of the Wild',
 'The Hound of the Baskervilles',
 'The Great Gatsby',
 'The Mysterious Affair at Styles',
 'Die Verwandlung',
 'Five Children and It',
 'Kim',
 'The Secret Garden',
 'Anne of Avonlea',
 "Anne's House of Dreams",
 'The Valley of Fear',
 'The Marvelous Land of Oz',
 'The Thirty-Nine Steps',
 'The House of Mirth',
 'Dubliners',
 'Rainbow Valley',
 'As a man thinketh',
 'The Jewel of Seven Stars',
 'Dorothy and the Wizard in Oz',
 'The Scarlet Pimpernel',
 'The Lost Princess of Oz',
 'Ulysses',
 'The Story of the Amulet',
 'The Complete Life and Adventures of Santa Claus',
 'The Return of Sherlock Holmes',
 'To the Lighthouse',
 "Baum's American Fairy Tales",
 'The Man Who Was Thursday',
 'Mrs. Dalloway',
 'The Beautiful and Damned',
 'The Tin Woodman of Oz',
 'The Hobbit',
 'Glinda of Oz',
 'Emily of New Moon',
 'A la recherche du temps perdu',
 'Nineteen Eighty-Four',
 'Peter Pan',
 'The Souls of Black Folk',
 'Animal Farm',
 'Of Human Bondage',
 'The Innocence of Father Brown (Father Brown Mystery)',
 'Love Insurance',
 'The moon and sixpence',
 'Chronicles of Avonlea',
 'White Fang',
 'The Prophet',
 'The Rainbow',
 'The Jungle',
 'The Magic World',
 'Der Proceß',
 'The Poison Belt',
 "Harry Potter and the Philosopher's Stone",
 'L’étranger',
 'Sons and Lovers',
 'Prester John',
 'Burning Daylight',
 "Puck of Pook's Hill",
 'Whose Body?',
 'Orlando',
 "Jacob's Room",
 'A Little Princess',
 "A Room of One's Own",
 'Daddy-Long-Legs',
 'The Fellowship of the Ring',
 'The blue castle',
 'The Evil Shepherd',
 'The Enchanted Island of Yew',
 'The Case-Book of Sherlock Holmes',
 'The Age of Innocence',
 'The Sea-Wolf',
 'The Wisdom of Father Brown',
 'Harry Potter and the Chamber of Secrets',
 'The Return of the King',
 'The Grapes of Wrath',
 'Harry Potter and the Prisoner of Azkaban',
 'Mrs Dalloway',
 'Death Comes for the Archbishop',
 'The Secret Agent',
 'The Waves',
 'Fahrenheit 451',
 'Fahrenheit 451',
 'The Lord of the Rings',
 'Just So Stories',
 'Gone With the Wind',
 'The Curious Case of Benjamin Button',
 'La Peste',
 'Babbitt',
 'Мастер и Маргарита',
 'Tarzan of the Apes',
 'Im Westen nichts Neues',
 'The Old Man and the Sea',
 'Harry Potter and the Goblet of Fire',
 'Murder on the Orient Express',
 'Gitanjali (song offerings)',
 'A Thief in the Night',
 'Charlie and the Chocolate Factory',
 'The warlord of Mars #3',
 'The League of the Scarlet Pimpernel',
 'The Enchanted April',
 'The Old Man in the Corner',
 'Чайка',
 'Мы',
 'My Ántonia',
 'Thuvia, Maid of Mars',
 'The Napoleon of Notting Hill',
 'The Princess and the Goblin',
 'Siddhartha',
 'The Murder of Roger Ackroyd',
 'Poirot investigates',
 'Cien años de soledad',
 'The land of mist',
 'The Angel of Terror',
 'The Bat',
 'Witch Wood',
 'Harry Potter and the Order of the Phoenix',
 'Of Mice and Men',
 'Der Zauberberg',
 'The three hostages',
 'To Kill a Mockingbird',
 'To Kill a Mockingbird',
 'Winnie-the-Pooh',
 'Lord of Flies',
 'The Beetle',
 'Rebecca',
 'And Then There Were None',
 'The house without a key',
 'The Hour of the Dragon',
 'A Room with a View',
 'The Wind in the Willows',
 'The Very Hungry Caterpillar',
 'Nostromo',
 'Arsène Lupin, gentleman-cambrioleur',
 'An American Tragedy',
 'Island of Sheep, the',
 'Childhood Annotated',
 'The little white bird, or, Adventures in Kensington gardens',
 'The Good Earth',
 'The Horse and His Boy',
 'Angels & Demons',
 'For Whom the Bell Tolls',
 'Howards End',
 'Das Schloß',
 'Death on the Nile',
 'Peter Pan in Kensington Gardens',
 "The Magician's Nephew",
 'The Red Thumb Mark',
 'The Master Key',
 'The Sun Also Rises',
 'The Tale of Peter Rabbit',
 'The Free Fishers',
 'The power-house',
 'Midwinter',
 'Mont-Saint-Michel and Chartres',
 'Tender Buttons',
 'Il nome della rosa',
 'Tarzan the Terrible (#8)',
 'The book of tea',
 'Matilda',
 'James and the Giant Peach',
 "Charlotte's Web",
 'The Bell Jar',
 'The Diary of a Nobody',
 'The Silmarillion',
 "John Thorndyke's Cases",
 "The Handmaid's Tale",
 'Prince Caspian',
 'Northern Lights',
 'MAIN STREET',
 'The Drums of Jeopardy',
 'Fantastic Mr Fox',
 'Fuente Ovejuna',
 'The Alchemist',
 'The Beasts of Tarzan',
 'The Martian Chronicles',
 'The BFG',
 'In the days of the comet',
 'Catch-22',
 'Lolita',
 'A Clockwork Orange',
 'The A.B.C. Murders',
 '4:50 from Paddington',
 'Demian',
 'The Catcher in the Rye',
 "Le fantôme de l'opéra",
 'La Chute',
 'The Daughter of Time',
 'Один день Ивана Денисовича',
 'El amor en los tiempos del cólera',
 'The Case of Jennie Brice',
 'Flappers and Philosophers',
 'Goodnight Moon',
 'Tales of the Jazz Age',
 'K',
 'I Will Repay',
 'The Hill of Dreams',
 'On The Road',
 'On The Beach',
 'The Kite Runner',
 'Genji monogatari',
 'Harry Potter and the Deathly Hallows',
 "Brewster's millions",
 "The Hitch Hiker's Guide to the Galaxy",
 'A Murder Is Announced',
 'Sonnenfinsternis',
 'The Complete Sherlock Holmes [4 novels, 56 stories]',
 "It Can't Happen Here",
 'The Murder at the Vicarage',
 "The Razor's Edge",
 'The Silver Chair',
 'The Mystery of the Blue Train',
 'All Roads Lead to Calvary',
 'The Voyages of Doctor Dolittle',
 "L'immoraliste",
 'Twilight',
 'The Big Sleep',
 'Markens grøde',
 'Evil Under the Sun',
 'Little House in the Big Woods',
 'Victory',
 'Carrie',
 'Der Kleine Prinz (German)',
 "The Mirror Crack'd from Side to Side",
 'Brood of the Witch-Queen',
 'The Big Four',
 'The Body in the Library',
 'A silent witness',
 'Zuleika Dobson, or, An Oxford love story',
 'Canne al vento',
 'After the Funeral',
 'The Godfather',
 'Tarzan the Untamed (Book #7)',
 'The moving finger',
 'Crooked House',
 "At Bertram's Hotel",
 'Momo oder Die seltsame Geschichte von den Zeit-Dieben und von dem Kind, das den Menschen die gestohlene Zeit zurückbrachte',
 'Osudy dobrého vojáka Švejka za světové války',
 'They Do It with Mirrors',
 'Abel Sánchez',
 'Peril at End House',
 'The Witches',
 'The Book Thief',
 'La casa de los espíritus',
 "Breakfast at Tiffany's",
 'The Giver',
 'The Last Battle',
 'The Franchise Affair (Inspector Alan Grant #3)',
 'Sparkling Cyanide',
 'Curtain',
 'Eva Luna',
 "'Salem’s Lot",
 'The Four Just Men',
 "Ender's Game",
 'The Subtle Knife',
 'Perfume',
 'Beloved',
 'The Pearl',
 'Sleeping Murder',
 "Hercule Poirot's Christmas",
 'Death in the Clouds',
 'Anthem',
 'Bridge to Terabithia',
 'The Curious Incident of the Dog in the Night-Time',
 'Appointment with Death',
 'A Caribbean Mystery',
 'Murder in Mesopotamia',
 'A Modern Utopia',
 'Vol de nuit',
 'The Hollow',
 'Justine',
 "One Flew Over the Cuckoo's Nest",
 'Five Little Pigs',
 'Bulldog Drummond',
 'Ann Veronica',
 'Murder in Three Acts',
 'The Voyage of the Dawn Treader',
 'A Farewell to Arms',
 'Noli Me Tangere',
 'The Gruffalo',
 'Sir Nigel',
 'Misery',
 'Nemesis',
 'Elephants Can Remember',
 'One, Two, Buckle My Shoe',
 'Cards on the Table',
 'The Color Purple',
 'La nausée',
 'Dawn',
 'Watership Down',
 'Foundation',
 'Jamaica Inn',
 'Danny, The Champion of the World',
 'A Pocket Full of Rye',
 'Pan',
 'Игрокъ',
 'Как закалялась сталь',
 'I, Robot',
 'Le pont de la rivière kwaï',
 'The Bridge of San Luis Rey',
 'The Shining',
 'The Pillars of the Earth',
 'It',
 'Ordeal by Innocence',
 'The Firm',
 'Amerika',
 "Dead Man's Folly",
 'The Incredible Journey',
 'Riceyman Steps',
 'The Sound and the Fury',
 'La sombra del viento',
 'The Tale of Benjamin Bunny',
 'Jurassic Park',
 'They Came to Baghdad',
 'Deception Point',
 'Oblomov',
 'Things Fall Apart',
 'The Clocks',
 'Slaughterhouse-Five',
 'Decline and Fall',
 'Number the Stars',
 'The Green Mile',
 'Murder is Easy',
 'Little House on the Prairie',
 'Mother',
 'The Restaurant at the End of the Universe',
 'Dumb Witness',
 'Cat Among the Pigeons',
 'Penrod',
 'Death of a Salesman',
 'East of Eden',
 'Pet Sematary',
 'The Blind Assassin',
 'La Fiesta del Chivo',
 'Do Androids Dream of Electric Sheep?',
 'El árbol de la ciencia',
 'Third Girl',
 'The Clan of the Cave Bear',
 'The Screwtape Letters',
 'Brideshead Revisited',
 'Major Barbara',
 'Bonjour tristesse',
 'The Caine mutiny',
 'Архипелаг ГУЛАГ',
 'New Moon',
 'Les Bijoux de la Castafiore',
 'The Thirteen Problems',
 'A tree grows in Brooklyn',
 'Buddenbrooks',
 'The Fixer',
 'The Dead Zone',
 'Dom Casmurro',
 'A Game of Thrones',
 'The Left Hand of Darkness',
 'The House at Pooh Corner',
 'Ranma 1/2',
 'The Labours of Hercules',
 "Mrs. McGinty's Dead",
 'Towards Zero',
 'Breaking Dawn',
 'Pantaleón y las visitadoras',
 'Brat Farrar',
 'The Good Soldier',
 'Conversación en La Catedral',
 'Eclipse',
 'Inuyasha',
 'The History of Mr. Polly',
 'A Shilling for Candles (Inspector Alan Grant #2)',
 'The Sittaford Mystery',
 'Digital Fortress',
 'Five on a Treasure Island',
 'Death Comes as the End',
 'Storm Island',
 'The Man in the High Castle',
 'The Crucible',
 'The Stand',
 'The Runaway Jury',
 'De amor y de sombra',
 'The Mysterious Stranger',
 'Hickory Dickory Death',
 "Why Didn't they Ask Evans?",
 'Coraline',
 'Como agua para chocolate',
 'Brown Bear, Brown Bear, What Do You See?',
 'Novels (The Call of the Wild / White Fang)',
 'The Once and Future King',
 'Nesnesitelná lehkost bytí',
 'When Patty Went to College',
 'San Manuel Bueno, mártir',
 'A Wizard of Earthsea',
 'Elogio de la madrasta',
 'Catching Fire',
 'Hatchet',
 'La tía Julia y el escribidor',
 'Tale of Mr. Jeremy Fisher',
 'John Barleycorn',
 'Tarzan of the Apes Tale #1 the Man-Child',
 'Cujo',
 'Endless Night',
 'The Client',
 'Taken at the Flood',
 'Stranger in a Strange Land',
 'Alias Grace',
 'Strong Poison',
 'Jane Austen',
 'The shadow-line',
 'A Time to Kill',
 'El coronel no tiene quien le escriba',
 'The Amber Spyglass',
 'Second Foundation',
 'My Cousin Rachel',
 'Tom Sawyer',
 'Antic Hay',
 'Подросток',
 'By the Pricking of My Thumbs',
 'I Capture the Castle',
 'Flowers for Algernon',
 'Dog Days',
 'Ficciones',
 'El filibusterismo',
 'Firestarter',
 'The Exorcist',
 'The Outsiders',
 'The Lightning Thief',
 'Hornblower in the West Indies',
 'Kane & Abel',
 'Sad Cypress',
 'Otoño Del Patriarca',
 'Life of Pi',
 'The Drawing of the Three',
 'The Red Pony',
 'The Song of the Lark',
 'The Magic Finger',
 'The Chessmen of Mars',
 'The Bad Beginning',
 'A Passage to India',
 "The  elephant's child",
 'Clouds of Witness',
 'Hija de la fortuna',
 'The Chamber',
 'Mockingjay',
 'The Man in the Queue (Inspector Alan Grant #1)',
 'The Fault in Our Stars',
 'Interview With the Vampire',
 'An Occurrence at Owl Creek Bridge',
 'A Dream of John Ball',
 'Jennie Gerhardt',
 'Herzog',
 'Diary of a provincial lady',
 'Nada',
 'Our Man in Havana',
 'Los de abajo',
 'La mala hora',
 'Destination Unknown',
 'Madeleine',
 'Bag of Bones',
 'The sword in the stone',
 'Astérix le Gaulois',
 'Native Son',
 'So long, and thanks for all the fish',
 'Flowers in the Attic',
 'La tía Tula',
 'The Assistant',
 'Good Omens',
 'Postern of Fate',
 'Partners in Crime',
 'The Runaway Bunny',
 'The Price of Salt',
 'Men Like Gods',
 'Das Glasperlenspiel. Sonderausgabe',
 'Skeleton crew',
 'Gaudy night',
 'The Partner',
 'Brighton rock',
 'American Gods',
 'The Martian',
 'The Scarlet Plague',
 'Green mansions',
 'Childhood’s End',
 'Voyage au bout de la nuit',
 'The Red House Mystery',
 'Retrato en sepia',
 "Midnight's Children",
 'Memoirs of a Geisha',
 'Island of the Blue Dolphins',
 "Captain Corelli's Mandolin",
 'Lituma en los Andes',
 'The tale of Samuel Whiskers, or, The roly-poly pudding',
 'Os Maias',
 'Radetzkymarsch',
 'The Virginian',
 'South Sea Tales',
 'The Girl Who Loved Tom Gordon',
 'The War Chief',
 'The Tailor of Gloucester',
 'The Talented Mr. Ripley',
 'The Waste Lands',
 'Roll of Thunder, Hear My Cry',
 'The Dispossessed',
 'Wizard and Glass',
 'The Adventures of Captain Underpants',
 'Rodrick Rules',
 'The Story of Ferdinand',
 'The mysterious Mr Quin',
 'The Haunted Bookshop',
 'La guerra del fin del mundo',
 'A Canticle for Leibowitz',
 'A Confederacy of Dunces',
 'The Duel and Other Stories [8 stories]',
 'Parnassus on Wheels',
 'Little Bear',
 'Собачье сердце',
 "Cat's Cradle",
 'Superfudge',
 'The Nine Tailors',
 'The Eye of the World (The Wheel of Time Book 1)',
 'Novels (Adventures of Huckleberry Finn / Adventures of Tom Sawyer)',
 "L'exil et le royaume",
 'Manalive',
 'Ubik',
 'A Streetcar Named Desire',
 'The Mysterious Stranger and Other Stories (7 works)',
 'Airport',
 'Bliss, and other stories',
 'Tropic of Capricorn',
 'The Velveteen Rabbit',
 'The Chosen',
 'Berlin Alexanderplatz',
 'Dune Messiah',
 'Triplanetary',
 'Doctor Faustus',
 'Sphere',
 'Down and Out in Paris and London',
 'The Plains of Passage',
 'The Rainmaker',
 "Cat's Eye",
 'The Golden Notebook',
 'Dragonflight',
 'The Edible Woman',
 'The Haunting of Hill House',
 'The Tombs of Atuan',
 '骆驼祥子',
 'The Tale of Mrs. Tiggy-Winkle',
 'Random harvest',
 'The Five Red Herrings',
 'The Road',
 'The magic barrel',
 'All the Light We Cannot See',
 'The Snowy Day',
 'Their Eyes Were Watching God',
 "The Gruffalo's Child",
 'The Centaur',
 'Ben-Hur',
 'Bartleby, the Scrivener',
 'Tarzan Triumphant (Ballantine 21909, #15)',
 'The Yearling',
 'Night Shift',
 'The talisman',
 'The Stone Diaries',
 'Jalna',
 'The power and the Glory',
 "Journal d'un curé de campagne",
 'El general en su laberinto',
 'Make Way for Ducklings',
 'Astérix et Cléopâtre',
 "Where's Spot?",
 'The ballad of the white horse',
 'Saving Faith',
 'The Ugly American',
 'A kidnapped Santa Claus',
 'Memoirs of a Fox-Hunting Man',
 'The Andromeda Strain',
 'The Hundred and One Dalmatians',
 'Just so stories for little children. Stalky & Co.',
 'My Secret Life',
 'Four Past Midnight',
 'Shutter Island',
 'Timeline',
 'Prey',
 'Heart is a lonely hunter',
 'The Remains of the Day',
 'The Singing Sands (Inspector Alan Grant #6)',
 'Sylvester and the magic pebble',
 'The Phantom Tollbooth',
 'Little Fuzzy',
 'A Coffin for Dimitrios',
 'Christine',
 'The Star Rover',
 'Artemis Fowl and the Eternity Code',
 'Graustark',
 'El Aleph',
 'When we were very young',
 'The Hunt for Red October',
 'Surfacing',
 'Neuromancer',
 'The Little Tin Soldier',
 'Ramona Quimby, Age 8',
 "Are You There God? It's Me, Margaret.",
 'Right Ho, Jeeves',
 'Tarzan, Lord of the Jungle (Tarzan, Book 11)',
 'The Watsons',
 'Chance',
 'Doce cuentos peregrinos',
 'Sunshine sketches of a little town',
 'The Day of the Triffids',
 'Der Schatz der Sierra Madre',
 '4 Plays (Вишнёвый сад / Дядя Ваня / Три сестры / Чайка)',
 'The Testament',
 'The Farthest Shore',
 'The Collector',
 'As I Lay Dying',
 'Eragon',
 'The Story of Little Black Sambo',
 'La planète des singes',
 'The Chronicles of Narnia',
 'Room on the Broom',
 'Burmese Days',
 "Alexander's bridge",
 "Giovanni's Room",
 'The Giraffe and the Pelly and Me',
 'Stardust',
 'Cell',
 'Escape on Venus (Carson Napier Adventures #4) (Ace SF Classic, 21561)',
 'Anna of the Five Towns',
 'So Big',
 'The Eagle Has Landed',
 'The Custom of the Country',
 'Have his carcase',
 'Seventeen',
 'Иванов',
 'The Four Million',
 'War and remembrance',
 'The End of Eternity',
 'The mirror of the sea',
 'A Clash of Kings',
 'The Fountainhead',
 'Julie of the Wolves',
 'The Dark Half',
 'The Five People You Meet in Heaven',
 'Tintenherz',
 'Vios ke Politia tou Alexi Zorba',
 'I, Claudius',
 'No Highway',
 'The Secret Diary of Adrian Mole, Aged 13 3/4',
 'The Celestine Prophecy - An Adventure',
 'Psmith Journalist',
 'An Unsuitable Job for a Woman',
 'Astérix Gladiateur',
 'Petals on the Wind',
 'Something Wicked This Way Comes',
 "Poirot's Early Cases",
 'Žert',
 '1st to Die',
 'Different Seasons',
 "Everything's Eventual. 14 Dark Tales",
 'Harriet the Spy',
 'The Children of Húrin',
 'Frog and Toad Are Friends',
 'The Danger Mark',
 'Yu-Gi-Oh!',
 "Bonheur d'occasion",
 'The Day of the Locust',
 'The Prime of Miss Jean Brodie',
 'Mort',
 'The Light Fantastic',
 'Go Tell It on the Mountain',
 'Swallows and Amazons',
 'The Street Lawyer',
 'Cover Her Face',
 'Red Dragon',
 'The Joy Luck Club',
 'Starship Troopers',
 'Тихий Дон',
 'A Painted House',
 'Esio Trot',
 'The Long Haul',
 'The Mouse and the Motorcycle',
 'The scapegoat',
 'La increíble y triste historia de la cándida Eréndira y de su abuela desalmada',
 'Reptile Room',
 'Jaws',
 'The Grass Harp',
 'The Tommyknockers',
 'The dark is rising',
 'Cry, the Beloved Country',
 'Jonathan Livingston Le Goeland',
 'Cold Comfort Farm',
 'Passing',
 'Invisible Man',
 'The Caves of Steel',
 'Dinosaurs Before Dark',
 'Absalom, Absalom!',
 'Livro do desassossego',
 'Winesburg, Ohio',
 'Winnie the witch',
 'The Tale of Tom Kitten',
 'The Grand Babylon Hotel',
 'Typhoon',
 'Двенадцать стульев',
 'The Shell Seekers',
 'Ein Haus in Irland',
 'Zoya',
 'L’Espoir',
 'Goodbye to Berlin',
 'The Adventure of the Speckled Band',
 'Insomnia',
 'The God of Small Things',
 'Le parfum de la dame en noir',
 'A Lost Lady',
 'Dandelion Wine',
 'The Bluest Eye',
 'Looking for Alaska',
 'Cabin Fever',
 'Americanah',
 'Bekenntnisse des Hochstaplers Felix Krull',
 'La hojarasca',
 'The King Must Die',
 'The Black Tower',
 'The Purple Cloud',
 "Gerald's Game",
 "Tom's Midnight Garden",
 'Rose Madder',
 'Guards! Guards!',
 'Unnatural Death',
 'El hablador',
 'Tales of a Fourth Grade Nothing',
 'On the Banks of Plum Creek',
 'Freckles',
 'Circle of Friends',
 'Unfinished Tales of Númenor and Middle-earth',
 'Bring Up the Bodies',
 'Roseanna',
 'Hearts in Atlantis',
 'Whirligigs',
 'The Crisis',
 'Youth',
 'Die unendliche Geschichte',
 'ノルウェイの森',
 'Wonder',
 'Because of Winn-Dixie',
 'El Zorro',
 'Verlorene Ehre der Katharina Blum',
 'The First Circle',
 'Where the Red Fern Grows',
 'Origin',
 'The Man from St. Petersburg',
 'Farmer Giles of Ham',
 'A Certain Justice',
 'Killing floor',
 'The Foundation Trilogy',
 'Trollkarlens hatt',
 'When Hitler stole Pink Rabbit',
 'Män som hatar kvinnor',
 'Golden Fleece and the Heroes Who Lived Before Achilles, The',
 'La Petite Sirene (French Well Loved Tales)',
 'Death of a Expert Witness',
 'Unnatural Causes',
 'Rendezvous with Rama',
 'I am Legend',
 'Studs Lonigan',
 'Tortilla Flat',
 'El Club Dumas',
 'The Black Moth',
 'Rising Sun',
 'Intensity',
 'Wild Swans',
 'The Shipping News',
 'Middlesex',
 'Ramona the Pest',
 'Old School',
 'Green Eggs and Ham',
 'The Tiger in the Smoke',
 'Dear Mr. Henshaw',
 'Sula',
 'Cricket in Times Square',
 'Five Go Adventuring Again',
 'The Rainbow Trail',
 'The Bell',
 'The Financier',
 'The moon is a harsh mistress',
 'Adventure',
 'The Son of Tarzan',
 'The King of Torts',
 'The unpleasantness at the Bellona Club',
 'A View from the Bridge',
 'Whiteoaks of Jalna',
 'Aspects of the novel',
 'Mystic river',
 'Michael Kohlhaas',
 'Sex and the City',
 'El Honor del Silencio',
 'Inés del alma mía',
 'Relato de un náufrago',
 'Shroud for a Nightingale',
 'Our Mr. Wrenn (The Romantic Adventures of A Gentle Man)',
 'A Thousand Splendid Suns',
 'Mostly Harmless',
 'Frog and Toad Together',
 'The Battle of the Labyrinth',
 'Last Man Standing',
 'Caddie Woodlawn',
 'Runaway Ralph',
 'Double Down',
 'Bridget Jones',
 'La ciudad de las bestias',
 'La verdad sobre el caso Savolta',
 'With the Turks in Palestine',
 'The Wide Window',
 'The House with the Green Shutters',
 "The emperor's new clothes",
 "The King's General",
 'Atlas Shrugged',
 'The Flying Inn',
 'The Grass is Singing',
 'If There Be Thorns',
 'Joseph und seine Brüder',
 'First Among Equals',
 'The Winds of War',
 'The Long Winter',
 'The Hate U Give',
 'Corduroy',
 'Frederick',
 'Tale of Despereaux',
 'Mary Wakefield',
 'Kareshi Kanojo no jijou',
 'Maria Chapdelaine',
 'Dragonquest',
 'Call It Courage',
 'Baby Einstein',
 'The Naked Sun',
 'The Brethren',
 'Memento Mori',
 'Other Voices, Other Rooms',
 'Equal Rites',
 'The simple truth',
 'The Skull Beneath the Skin',
 'The English Patient',
 '2nd Chance',
 'The Glass Menagerie',
 'Wicked',
 'These Happy Golden Years',
 'By the Shores of Silver Lake',

In [253]:
df_merge.to_csv("../data/clean/df_books_clean.csv", index=False)