In [14]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine, text, event
import getpass  # To get the password without showing the input

from dotenv import load_dotenv
import os

load_dotenv()

import functions as f

# Access the environment variables from the .env file
password = os.environ.get('DB_PASS')


# Note that when you use _SQLAlchemy_ and establish the connection, you do not even need to be logged in Sequel Pro or MySQL Workbench.

## Load Dataframe

In [15]:
df = pd.read_csv("../data/clean/building_permits_addition_alteration_clean.csv")
display(df.head(1))

,record_number,address,latitude,longitude,status,issue_date,number_of_units,current_property_use,building_cost,electrical_cost,...,planning_board_special_permit,bicycle_parking_change,issue_year,issue_month,season,calc_total_cost,total_cost_bins,original_firm_name,standardized_firm_name,keywords
0,0,"304 Vassar St, Cambridge, MA 02139",42.354803,-71.104827,Active,2020-01-07,0.0,Commercial/Mixed,310000.0,85000.0,...,False,False,2020,1,Winter,424600.0,high,Other,Other,"['repair build finishes out', 'complete interi..."

## Connect to DB

In [16]:
# password = getpass.getpass()

bd = "building_permits"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/building_permits)

## Seed Data

### building_construction_types

In [17]:
building_construction_types_unique = df["building_construction_type"].unique()
print(building_construction_types_unique)

def assign_index(row):
    return list(building_construction_types_unique).index(row["building_construction_type"])

df["building_construction_type_id"] = df.apply(assign_index, axis=1)

['Steel/Concrete, Non-Combustible (Type I/II)' 'Wood (Type (IV/V)'
 'Masonry / Wood (Type III)']

In [18]:
building_construction_types_df = pd.DataFrame(df[["building_construction_type_id", "building_construction_type"]])
building_construction_types_df.drop_duplicates(inplace=True)
building_construction_types_df.rename(columns={'building_construction_type_id': 'id', 'building_construction_type': 'type'}, inplace=True)
building_construction_types_df

   id                                         type
0   0  Steel/Concrete, Non-Combustible (Type I/II)
3   1                            Wood (Type (IV/V)
4   2                    Masonry / Wood (Type III)

In [19]:
with engine.connect() as connection:
    building_construction_types_df.to_sql("building_construction_type", connection, index=False, if_exists="replace")

In [20]:
df["building_construction_type"] = df["building_construction_type_id"]
df.drop("building_construction_type_id", axis=1, inplace=True)

### Function to streamline preparing df for seeding

In [21]:
# def prepare_for_seeding(df, column, db_column):
#     uniques = df[column].unique()
#     print(f"Unique values for {column}:", uniques)

#     def assign_index(row):
#         return list(uniques).index(row[column])

#     df[f"{column}_id"] = df.apply(assign_index, axis=1)
#     display(f"{column}_id", df[[f"{column}_id", column]])
#     prepared_df = pd.DataFrame(df[[f"{column}_id", f"{column}"]])
#     prepared_df.drop_duplicates(inplace=True)
#     prepared_df.rename(columns={f"{column}_id": 'id', column: db_column}, inplace=True)
        
#     return df, prepared_df

### building_use

In [22]:
df, building_use_df = f.prepare_for_seeding(df, "building_use", "use")

Unique values for building_use: ['Commercial/Mixed' 'Multi-Family' 'One/Two-Family' 'Townhouse']
building_use_id        building_use_id      building_use
0                    0  Commercial/Mixed
1                    0  Commercial/Mixed
2                    0  Commercial/Mixed
3                    1      Multi-Family
4                    1      Multi-Family
...                ...               ...
11455                0  Commercial/Mixed
11456                0  Commercial/Mixed
11457                0  Commercial/Mixed
11458                2    One/Two-Family
11459                1      Multi-Family

[11460 rows x 2 columns]

In [23]:
with engine.connect() as connection:
    building_use_df.to_sql("building_use", connection, index=False, if_exists="replace")

#### also for current_property_use

In [24]:
building_use_unique = df["building_use"].unique()
print(building_use_unique)

def assign_index(row):
    return list(building_use_unique).index(row["current_property_use"])

df["current_property_use_id"] = df.apply(assign_index, axis=1)

['Commercial/Mixed' 'Multi-Family' 'One/Two-Family' 'Townhouse']

In [25]:
df["building_use"] = df["building_use_id"]
df.drop("building_use_id", axis=1, inplace=True)

In [26]:
df["current_property_use"] = df["current_property_use_id"]
df.drop("current_property_use_id", axis=1, inplace=True)

### season

In [27]:
df, season_df = f.prepare_for_seeding(df, "season", "name")

Unique values for season: ['Winter' 'Summer' 'Autumn' 'Spring']
season_id        season_id  season
0              0  Winter
1              0  Winter
2              0  Winter
3              1  Summer
4              1  Summer
...          ...     ...
11455          2  Autumn
11456          0  Winter
11457          0  Winter
11458          0  Winter
11459          2  Autumn

[11460 rows x 2 columns]

In [28]:
with engine.connect() as connection:
    season_df.to_sql("season", connection, index=False, if_exists="replace")

In [29]:
df["season"] = df["season_id"]
df.drop("season_id", axis=1, inplace=True)

### firm

In [ ]:
df, firm_df = f.prepare_for_seeding(df, "standardized_firm_name", "standardized_firm_name")

with engine.connect() as connection:
    firm_df.to_sql("firm", connection, index=False, if_exists="replace")

Unique values for standardized_firm_name: ['Other' 'TC Building Incorporated' 'albert m stuart' ...
 'Colonetti Exterior Construction' 'Longden Company Inc'
 'McCourt Construction Company Inc.']
standardized_firm_name_id        standardized_firm_name_id                    standardized_firm_name
0                              0                                     Other
1                              1                  TC Building Incorporated
2                              2                           albert m stuart
3                              3            Steve E. Valenti Builders Inc.
4                              4                 Jason Du Construction Co.
...                          ...                                       ...
11455                        222  Architectural Building & Restoration LLC
11456                       2153         McCourt Construction Company Inc.
11457                        789                      BNA CONTRACTING INC.
11458                        228         Gilman Guidelli & Bellow Co. Inc.
11459                          0                                     Other

[11460 rows x 2 columns]

In [33]:
df.columns

Index(['record_number', 'address', 'latitude', 'longitude', 'status',
       'issue_date', 'number_of_units', 'current_property_use',
       'building_cost', 'electrical_cost', 'plumbing_cost', 'gas_cost',
       'hvac_cost', 'fire_prevention_cost', 'description', 'isd_description',
       'size_of_new_addition', 'change_in_floor_area_or_dimensions',
       'change_in_exterior', 'discharge_to_sewer_or_storm_water_system',
       'new_or_replaced_storm_sewer', 'construction_dewatering',
       'public_right-of-way', 'basement_plumbing_fixture',
       'change_in_at_least_half_of_total_area', 'firm_name', 'debris_disposal',
       'description_of_demolition', 'method_of_removal', 'type_of_demolition',
       'building_use', 'condo_association', 'building_construction_type',
       'bza_case', 'planning_board_special_permit', 'bicycle_parking_change',
       'issue_year', 'issue_month', 'season', 'calc_total_cost',
       'total_cost_bins', 'original_firm_name', 'standardized_firm_name',
       'keywords', 'standardized_firm_name_id'],
      dtype='object')

In [35]:
df["standardized_firm_name"] = df["standardized_firm_name_id"]
df.drop(columns=["firm_name", "standardized_firm_name_id", "original_firm_name"], inplace=True)

### total_cost_bins

In [ ]:
df, total_cost_bins_df = f.prepare_for_seeding(df, "total_cost_bins", "bin_name")

with engine.connect() as connection:
    total_cost_bins_df.to_sql("total_cost_bins", connection, index=False, if_exists="replace")

In [ ]:
df["total_cost_bins"] = df["total_cost_bins_id"]
df.drop("total_cost_bins_id", axis=1, inplace=True)

### costs

In [ ]:
df_costs = df[[
    "record_number",
    "building_cost", 
    "electrical_cost", 
    "plumbing_cost",
    "gas_cost",
    "hvac_cost",
    "fire_prevention_cost", 
    "calc_total_cost"
]]

with engine.connect() as connection:
    df_costs.to_sql("costs", connection, index=False, if_exists="replace")

df_costs

In [ ]:
df.drop(columns=[
    "building_cost", 
    "electrical_cost", 
    "plumbing_cost",
    "gas_cost",
    "hvac_cost",
    "fire_prevention_cost", 
    "calc_total_cost"
    ], inplace=True)

df

### property

In [ ]:
df_property.duplicated(subset="address").value_counts()

In [ ]:
property_unique = df["address"].unique()
print("Unique properties:", df["address"].nunique())

def assign_index(row):
    return list(property_unique).index(row["address"])

df["property"] = df.apply(assign_index, axis=1)

property_df = pd.DataFrame(df[["property", "address", "latitude", "longitude"]])
property_df.drop_duplicates(inplace=True)
property_df.rename(columns={'property': 'id'}, inplace=True)
property_df

In [ ]:
with engine.connect() as connection:
    property_df.to_sql("property", connection, index=False, if_exists="replace")

In [ ]:
df_property = df[[
    "record_number",
    "address", 
    "latitude", 
    "longitude"
]]

df.drop(columns=[
    "address", 
    "latitude", 
    "longitude"
    ], inplace=True)

df

### status

In [ ]:
df, df_status = f.prepare_for_seeding(df, "status", "value")

with engine.connect() as connection:
    df_status.to_sql("status", connection, index=False, if_exists="replace")

In [ ]:
df["status"] = df["status_id"]
df.drop("status_id", axis=1, inplace=True)

### keywords

In [ ]:
df_keyword_data = pd.read_csv("../data/clean/keyword_data.csv")
df_keyword_data

In [ ]:
df_unique_keywords = pd.read_csv("../data/clean/unique_keywords.csv")
df_unique_keywords

In [ ]:
df_unique_keywords.reset_index(inplace=True)
df_unique_keywords.rename(columns={"index": "keyword_id"}, inplace=True)

In [ ]:

df_keyword_merged = df_keyword_data.merge(df_unique_keywords[["keyword_id", "keyword"]], on="keyword")
df_keyword_merged

In [ ]:
df_keyword_sql = df_keyword_merged[["record_number", "keyword_id", "frequency"]]

with engine.connect() as connection:
    df_keyword_sql.to_sql("record_keyword", connection, index=False, if_exists="replace")

In [ ]:
df_unique_keywords.rename(columns={'keyword_id': 'id'}, inplace=True)

with engine.connect() as connection:
    df_unique_keywords.to_sql("keyword", connection, index=False, if_exists="replace")

### Main Dataframe (record)

In [36]:
df.columns

Index(['record_number', 'address', 'latitude', 'longitude', 'status',
       'issue_date', 'number_of_units', 'current_property_use',
       'building_cost', 'electrical_cost', 'plumbing_cost', 'gas_cost',
       'hvac_cost', 'fire_prevention_cost', 'description', 'isd_description',
       'size_of_new_addition', 'change_in_floor_area_or_dimensions',
       'change_in_exterior', 'discharge_to_sewer_or_storm_water_system',
       'new_or_replaced_storm_sewer', 'construction_dewatering',
       'public_right-of-way', 'basement_plumbing_fixture',
       'change_in_at_least_half_of_total_area', 'debris_disposal',
       'description_of_demolition', 'method_of_removal', 'type_of_demolition',
       'building_use', 'condo_association', 'building_construction_type',
       'bza_case', 'planning_board_special_permit', 'bicycle_parking_change',
       'issue_year', 'issue_month', 'season', 'calc_total_cost',
       'total_cost_bins', 'standardized_firm_name', 'keywords'],
      dtype='object')