In [ ]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine, text, event
import getpass  # To get the password without showing the input

from dotenv import load_dotenv
import os

load_dotenv()

# Access the environment variables from the .env file
password = os.environ.get('DB_PASS')


# Note that when you use _SQLAlchemy_ and establish the connection, you do not even need to be logged in Sequel Pro or MySQL Workbench.

In [11]:
df = pd.read_csv("../data/clean/building_permits_addition_alteration_clean.csv")
display(df.head(1))

,record_number,address,latitude,longitude,status,issue_date,number_of_units,current_property_use,building_cost,electrical_cost,...,planning_board_special_permit,bicycle_parking_change,issue_year,issue_month,season,calc_total_cost,total_cost_bins,original_firm_name,standardized_firm_name,keywords
0,0,"304 Vassar St, Cambridge, MA 02139",42.354803,-71.104827,Active,2020-01-07,0.0,Commercial/Mixed,310000.0,85000.0,...,False,False,2020,1,Winter,424600.0,high,Other,Other,"['repair build finishes out', 'complete interi..."

In [12]:
# password = getpass.getpass()

bd = "building_permits"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/building_permits)

In [13]:


with engine.connect() as connection:
    query = text('SELECT * FROM record')
    result = connection.execute(query)

result

In [27]:
building_construction_types_unique = df["building_construction_type"].unique()

print(building_construction_types_unique)

index = list(building_construction_types_unique).index('Wood (Type (IV/V)')

def assign_index(row):
    return list(building_construction_types_unique).index(row["building_construction_type"])

df["building_construction_type_id"] = df.apply(assign_index, axis=1)

['Steel/Concrete, Non-Combustible (Type I/II)' 'Wood (Type (IV/V)'
 'Masonry / Wood (Type III)']

In [32]:
building_construction_types_df = pd.DataFrame(df[["building_construction_type_id", "building_construction_type"]])
building_construction_types_df.drop_duplicates(inplace=True)
building_construction_types_df

   building_construction_type_id                   building_construction_type
0                              0  Steel/Concrete, Non-Combustible (Type I/II)
3                              1                            Wood (Type (IV/V)
4                              2                    Masonry / Wood (Type III)